*
{
	margin: 0;
	padding: 0;
}


body
{
	font-family: arial, helvetica, sans-serif;
}

header
{
	background-color: #2980b9;
	height: 70px;
}

h1,#name
{
	font-family: 'Allura', cursive;
	padding:10px;
	color: #fff;
}

#logo
{
	float: left;
	padding: 10px;

}

#find
{
	background-color: #27ae60;

}

#accommodation
{
	background-color: #9b59b6;
}

#camping
{
	background-color: #3498db;
}

#todo
{
	background-color: #e74c3c;
}

#climate
{
	background-color: #16a085;
}

#contact
{
	background-color: #34495e;
}

a
{
	color: #fff;
	text-decoration: none;
	display: block;
  
}

li
{
	padding: 10px;
}

h2
{
	color: #2980b9;
	font-size: 120%;
	padding: 30px 10px 10px 10px;

}

p
{
	padding-top: 1em;
	padding: 10px;
	font-size: 90%;
}

#find_icon
{
	height: 90px;
	width: 90px;
	font-size: 75%;
	background-image: url(images/findUs.png);
	background-position: center 8px;
	background-repeat: no-repeat;
	background-color: #27ae60;
	float: left;
	margin: 10px 13px 10px 10px;
	padding-top: 75px;
	box-sizing: border-box;
	text-align: center;
	
}

#dt_wrapper
{
	display: none;
}

#accommodation_icon
{
	height: 90px;
	width: 90px;
	font-size: 75%;
	background-image: url(images/accommodation.png);
	background-position: center 8px;
	background-repeat: no-repeat;
	background-color: #9b59b6;
	float: left;
	margin: 10px 13px 10px 0;
	padding-top: 75px;
	box-sizing: border-box;
	text-align: center;

}

#camping_icon
{
	height: 90px;
	width: 90px;
    font-size: 75%;
	background-image: url(images/camping.png);
	background-position: center 12px;
	background-repeat: no-repeat;
	background-color: #3498db;
	float: left;
	margin: 10px 13px 10px 0;
	padding-top: 75px;
	box-sizing: border-box;
	text-align: center;
}


#todo_icon
{
	height: 90px;
	width: 90px;
	font-size: 75%;
	background-image: url(images/thingsToDo.png);
	background-position: center 12px;
	background-repeat: no-repeat;
	background-color: #e74c3c;
	float: left;
	margin: 10px 13px 10px 10px ;
	padding-top: 75px;
	box-sizing: border-box;
	text-align: center;
}

#climate_icon
{
	height: 90px;
	width: 90px;
	font-size: 75%;
	background-image: url(images/climate.png);
	background-position: center 12px;
	background-repeat: no-repeat;
	background-color: #16a085;
	float: left;
	margin: 10px 13px 0 0 ;
	padding-top: 75px;
	box-sizing: border-box;
	text-align: center;
}


#contact_icon
{
	height: 90px;
	width: 90px;
	font-size: 75%;
	background-image: url(images/contact.png);
	background-position: center 20px;
	background-repeat: no-repeat;
	background-color: #34495e;
	float: left;
	margin: 10px 0 0 0;
	padding-top: 75px;
	box-sizing: border-box;
	text-align: center;
}

h3
{
	color: #2980b9;
	text-align: right;
	padding: 20px 10px 20px 0;
}

footer
{
	clear: both;
	background-color: #2980b9;
	height: 60px;
}



.fa
{
	color: #fff;
	padding: 5px;
	
}

#icons
{
	padding: 15px;
	float: left;
}

#text
{
	color: #fff;
	font-size: 70%;
	padding-top: 15px;
}

@media only screen and (min-width: 960px)
{
	header
	{
		height: 120px;

	}

	h1
	{
		
		font-size: 400%;
	}
 
    #logo
    {
    	width: 139px;
    	height: 137px;
    	float: left;
    	padding:10px 10px 10px 150px;
    }

    #name
    {
    	position: absolute;
    	left: 1040px;
    	top: 15px;
    	font-size: 200%;

    }


	a
    {
    	color: #2980b9;


    }

    a:hover
    {
    	background-color:#f7941d;
    	box-sizing: border-box;	

    }


	li
	{
		display: inline-block;
		font-size: 120%;

	}

	ul
	{
		text-align: right;
		padding-right: 230px;
	}

    #mainPic
    {
    	background-color: #dde1e2;
    	height: 287px;
        margin-bottom: 10px;
    }

    #bitmap
    {
    	display: block;
    	margin:0 auto;
    }

    #main_wrapper
	{
		width: 960px;
		margin: auto;
	}





	h2
	{
		background-color: #2980b9;
		color: white;
		width: 210px;
		height: 65px;
	}

	#content
	{
		background-color: #f7941d;
		width: 230px;
		height: 335px;
		margin-top: 10px;
		margin-bottom: 10px;
	}


	#intro
	{
		float: left;
	}

	#icon_wrapper
	{
		width: 720px;
		float: right;
	}

    #find, #accommodation, #camping, #todo, #climate, #contact
    {
    	background-color: white;
    }


	#dt_wrapper
	{
		display: inline-block;
	}

	#demo1
	{
		background-color: #27ae60;
		width: 200px;
		height: 200px;
		padding:10px;
		margin: 0 10px 10px 5px;
		display: inline-block;

	}


	#circle1
	{
		width: 100px;
		height: 100px;
		background-color: white;
		margin:auto;
		border-radius: 50%;
		text-align: center;
		border: 5px darkgreen solid;
		box-sizing: border-box;
		padding-top: 25px;
	}

	#demo2
	{
		background-color: #9b59b6;
		width: 210px;
		height: 200px;
		padding:10px;
		margin: 0 10px 0 0;
		display: inline-block;
	}

	#circle2
	{
		width: 100px;
		height: 100px;
		background-color: white;
		margin:auto;
		border-radius: 50%;
		text-align: center;
		border: 5px darkgreen solid;
		box-sizing: border-box;
		padding-top: 25px;
	}

	#demo3
	{
		background-color: #3498db;
		width: 210px;
		height: 200px;
		padding:10px;
		display: inline-block;
	}

	#circle3
	{
		width: 100px;
		height: 100px;
		background-color: white;
		margin:auto;
		border-radius: 50%;
		text-align: center;
		border: 5px darkgreen solid;
		box-sizing: border-box;
		padding-top: 25px;
	}

	#demo4
	{
		background-color: #e74c3c;
		width: 200px;
		height: 200px;
		padding:10px;
		display: inline-block;
	}

	#circle4
	{
		width: 100px;
		height: 100px;
		background-color: white;
		margin:auto;
		border-radius: 50%;
		text-align: center;
		border: 5px darkgreen solid;
		box-sizing: border-box;
		padding-top: 25px;
	}

	#demo5
	{
		background-color: #16a085;
		width: 200px;
		height: 200px;
		padding:10px;
		display: inline-block;
	}

	#circle5
	{
		width: 100px;
		height: 100px;
		background-color: white;
		margin:auto;
		border-radius: 50%;
		text-align: center;
		border: 5px darkgreen solid;
		box-sizing: border-box;
		padding-top: 25px;
	}

	#demo6
	{
		background-color: #34495e;
		width: 200px;
		height: 200px;
		padding:10px;
		display: inline-block;
	}

	#circle6
	{
		width: 100px;
		height: 100px;
		background-color: white;
		margin:auto;
		border-radius: 50%;
		text-align: center;
		border: 5px darkgreen solid;
		box-sizing: border-box;
		padding-top: 25px;
	}

	#mb_wrapper
	{
		display: none;
	}


footer
{
	height: 120px;
	margin-bottom: 50px;
}



#icons
{
	padding: 30px;
	float: left;
}

#text
{
	color: #fff;
	font-size: 70%;
	padding-top: 15px;
}

}